/******************************
 ソーシャルエリア全体を囲む要素
 * 他のコンテンツと距離を取りたい場合は[margin]を設定して下さい
******************************/


/******************************
 [ul]要素
******************************/
/* スマホ */
ul.social-button-syncer{
	overflow: hidden;
	width: 238px;
	margin: 2 auto;
	padding: 0;
	border: none;
	list-style-type: none;
}

/* デスクトップ */
@media screen and (min-width:480px){

	ul.social-button-syncer{
		width: 410px;
	}

}

/******************************
 [li]要素
******************************/
ul.social-button-syncer li{
	overflow: hidden;
	float: left;
	text-align: center;
	height: 71px;
	margin: 0 8px;
	padding:0;
}

/******************************
 各種ボタン
******************************/
/* [Twitter] */
.sc-tw{
	width: 71px;
}

/* [Facebook] */
.sc-fb{
	width: 69px;
}

/* [LINE] */
.sc-li{
	width: 50px;
}

.sc-li-img{
	border: none;
	margin: 0 auto;
	padding:0;
	width: 36px;
	height: 60px;
}

/* デスクトップPCではLINEボタンを表示しない */
/*@media screen and (min-width:480px){

	.sc-li{
		display: none;
	}

}
*/